
body
{
    background-color: rgb(200, 152, 85);
}
h2
{
    text-align: center;
    color: white;
}
.para
{
    width: 70%;
    height: 600vh;
    margin: 0px auto;
    background-color: pink;
    border: 2px solid white;
}
.list
{
    font-size: 26px;
 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* font-weight: bold; */
}
.list>ol>.negi>li>dt>ul>nav>li>dd>a
{
    color: rgb(76, 0, 255);
    text-shadow:0.5px 0.5px 0.5px  rgb(0, 0, 0);
    text-decoration: none;
}
.physics
{
    padding: 10px;
    color: rgb(76, 0, 255);
    text-shadow:0.5px 0.5px 0.5px  rgb(0, 0, 0);
    text-decoration: none;
    justify-content: center;
    align-content: center;
    width: 96%;
    height: 50px;
    border: 0.5px solid white;
    background-color: rgb(148, 238, 102);
    display: inline-block;
}
.negi
{
    width: 100%;
    height: 120vh;
    background-color: rgb(14, 188, 227);
    border-radius: 20px;

}